/*-------------- bot -----------------*/
.bot{
	&__label{
		font-size: 1.8rem;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 5px;
	}

	&__val{
		font-family: var(--font-unbounded);
		font-size: 3rem;
		color: var(--color-primary);
	}
}

@media (max-width: 767px) {
	.bot{
		&__val{
			font-size: 2rem;
			color: #fff;
		}
	}
}