/*-------------- fancybox -----------------*/
// body .fancybox__container{z-index: var(--fancybox-zIndex, 901)}
// body .popup-window.hide{display: none!important;}
body .f-html{
	background: #000;
	border-radius: 30px;
	color: #fff;
}
