/*-------------- input-check -----------------*/
.input-check{
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.4rem;
	color: var(--color-text);
	margin: 0;
	position: relative;
	cursor: pointer;

	input[type=checkbox]{display: none;}

	&__mark{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		border: 1px solid #1C1C1C;
		border-radius: 5px;
		background: #1C1C1C;
		position: relative;
		transition: border 0.2s ease 0s;

		svg{
			color: #fff;
			opacity: 0;
		}
	}

	&__text{margin-top: 2px;}

	input[type=checkbox]:checked + &__mark{
		border-color: var(--color-primary);
		background: var(--color-primary);
	}

	input[type=checkbox]:checked + &__mark svg{opacity: 1;}
}