extends tmpl/_layout

block vars
	- var pageId = 'main'

block body
	section
		.st-width
			h1 Список всех страниц
			
			if pages
				ul
					each page in pages
						li
							a(href=page.href, target='_blank')= page.title